h2 { /* este estilo afecta a todos los h2 de index2.html */
font-size:60mc;
color:rgba(0, 68, 255, 0.959) ;
background-color:brown;




}



.textomorado { /* clases css que aplica color morado y fuente lusidaSans*/
  color: blueviolet;
font-family:Arial, Helvetica, sans-serif ;}

.classeConteneDiv1 { /* afectara a algunos contenedores div*/  
   font-size: 40px;
width: 1200px;
height: 600px;
background-color: rgb(255, 230, 0);


}

#fondonaranja {
    background-color: rgba(82, 100, 0, 0.849);
    font-size: 30px;
    text-align: center;
}
.textomorado:hover{
 background-color: rgb(255, 0, 0);
color: rgb(255, 0, 234);
}
 .classeConteneDiv1 ::first-letter  {
/* seudoelelmento que afecta a la primera letra*/
    font-size: 80px;
     color: crimson;

 }
 .clase_Static {
  font-size: 20px;
  background-color: aqua;
  position:static;  
  margin-top: 0px;
 margin-left:20px ;
 margin-right:80px; 
}

.clase_Static2 {
  font-size: 20px;
  background-color: aqua;
  position:static;  
  top: 20px;  /* esto no funciona en static */
  left:80px ;  /* esto no funciona en static */
  right:200px;  /* esto no funciona en static */
  
}

.clase_Relative{
  font-size: 20px;
  background-color: rgb(187, 218, 77); 
  height: 250px;
  width: 200px;
}
.clase_Relative:hover {
  position:relative; 
  top: 100px;
  left: 100px;
  z-index: -5;
  /* z-index para colocar adelante o atras en profundidad respecto a otro elemento  */
}

.clase_Relative2{
  font-size: 20px;
  background-color: rgb(187, 218, 77); 
  height: 250px;
  width: 200px;
}
.clase_Relative2:hover {
  position:relative; 
  margin-top: 100px;
  margin-left: 100px;
  
  
}
    
.clase_absolute{
font-size: 20px;
background-color: rgb(0, 255, 42);
height: 250px;
width: 200px;
position: absolute;
top: 500px;  /*de arriba hacia arriba,osea baja*/
left: 300px;
}

.clase_Relative3{
  font-size: 20px;
  background-color: rgb(0, 255, 42);
  height: 250px;
  width: 200px;
  position: relative;
}
.clase_absoluterelative{
font-size: 20px;
background-color: rgb(0, 255, 42);
height: 200px;
width: 150px;
position: absolute;
bottom: 300px;  /*de abajo hacia arriba,osea sube*/
left: 600px;
}
.clase_fixed{
height: 320px;
width: 300px;
position: fixed;
left: 600px;
bottom: 300px;
z-index: -10;
}
.marca_agua{
opacity: 0.3;
pointer-events: none;
z-index: 10;
}
.clase_sticky{
position: sticky;
font-size: 40px;
top: 0px;
left: 40px;
height: 300px;
}


.tipoinlineblock{ /*estillo display inline*/
background-color: rgb(165, 42, 42);
font-style: 30px;
margin: 10px;
color: rgb(123, 255, 47);
display: inline-block;
width: 200px;
}
.enline{ /*estillo display inline*/
background-color: red;
display: inline;
font-size: 30px;
margin: 2px;
color: beige;
width: 80px;
height: 40px;
}
.bloque{/*estillo display por defecto*/
  background-color:blue;
font-size: 20px;
margin: 20px;
color: aquamarine;
}
.tiponone{/*estillo display por none*/
  background-color:blue;
font-size: 20px;
margin: 20px;
color: aquamarine;
display: none;
}
.tipohidden{/*estillo display hidden*/
  background-color:blue;
font-size: 20px;
margin: 20px;
color: aquamarine;
display: hidden;
}
.tipoflex{
display: flex;
background-color: rgb(0, 217, 255);
align-items: center;
justify-content: space-between;
}
.clasenav{ /*estillo para nav*/
background-color: rgb(0, 255, 55);
font-size: 30px;
/*margin 20px*/
padding-inline: 0px;
color: black;
display: inline;
list-style-type: none;

}
.clasenav a:hover{
  background-color: rgba(210, 105, 30, 0.863);
}
.clasenav ul{
  list-style-type: none;
display: block;
  margin: 0px;
padding: 0px;
}
.clasenav li a{
text-decoration: none;
padding: 6px 11px;
display: block;
} 

.clasenav >li{
 float: none;
}

.clasenav li ul{
display: none;
position: absolute;
min-width: 140px;
}
.clasenav li:hover>ul {
display: block;
background-color: crimson;
}
#ejemDOM1{

  color: rgb(210, 105, 30);
  font-weight: bold;
}









 
  






